<%- include('partial/_head') %>
<body>
<%- include('partial/_header') %>
<main class="l-main">
    <section class="container py-5">
        <h1 class="mb-4 text-center"><%= parameters.sitename %></h1>
        <p class="text-center"><%= parameters.description %></p>
        <form>
            <div class="custom-control custom-switch d-block text-center">
                <input type="checkbox" class="custom-control-input" id="switch" name="switch" value="スイッチ">
                <label class="custom-control-label" for="switch">
                    <span>スイッチ</span>
                </label>
            </div>
        </form>
    </section>
</main>
<%- include('partial/_footer') %>
<%- include('partial/_js_loader') %>
</body>
</html>